* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #001646;
  color: #FFF;
  font-family: "Arial", serif;
}

.wrapper-main {
  width: 970px;
  margin: 0 auto;
  padding: 5px;
}

.header {
  height: 280px;
  background-image: url(./img/header.jpg);
}

.wrapper-inner {
  height: 100%;
  /*display: inline-block;*/
  background-color: #000;
}

.navigation {
  display: inline-block;
  width: 20%;
  height: 100%;

  background-color: blue;
}

.navigation ul {
  font-weight: bold;
}

.navigation li {
  list-style-type: none;
  height: 30px;
}

.content {
  display: inline-block;
  width: 80%;
  height: 100%;

  background-color: green;
}

.content p {
  font-family: "Verdana";
  font-size: small;
  text-align: justify;
  background-color: red;
}

footer {
  height: 30px;
  background-color: #103898;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
}
