* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  height: 100%;
  background-color: #FFFFFF;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url(../img/background.jpg);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  }

.wrapper-right-column {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 60%;
  right: 0; /* нужно подробнее почитать про это свойство */
  background-color: #FFFFFF;
}

#intro {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#intro h1 {
  font-size: 5em;
  color: #3D0000;
}

#intro h2 {
  font-size: 2em;
  font-style: italic;
  color: #8C8C8C;
}


#button-catalog {
  margin-top: 10%;
  padding: 2.5% 5%;
  border: none;
  font-size: 2em;
  background-color: #7B0400;
  color: #FFFFFF;
}

/* Это было сделано для обращения в скрипте через JS classList,
но не использовалось - НУЖНО ПОЧИТАТЬ */
#intro.visibility {
  display: none;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: none;
}

/* Это было сделано для обращения в скрипте через JS classList,
но не использовалось - НУЖНО ПОЧИТАТЬ */
#content.visibility {
  display: block;
}

.wrapper-items {
  position: absolute;
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 25px;
  overflow: auto;
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100%/4);
  height: calc(100%/3);
  padding: 20px;
  margin: 20px;
  border: 1px solid #BD2814;
}

.item-img {
  display: block;
  border: 1px solid red;
  height:40%;
  width: 100%;
  background-image: url(../img/item-placeholder.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item-name-and-price {
  display: block;
  margin-top: 15px;
  height: 30%;
  width: 100%;
}

.item-name {
  display: inline-block;
  float: left;
  width: 60%;
  color: #970000;
  font-size: 1.15em;
  text-align: left;
}

.item-price {
  display: inline-block;
  float: right;
  width: 30%;
  font-size: 1.15em;
  text-align: right;
}

.clearboth {
  clear: both;
}

.item-year {
  display: block;
  height: 10%;
  width: 100%;
}

.item-buy {
  display: block;
  width: 100%;
  height: 15%;
  color: #FFFFFF;
  font-size: 1.25em;
  background-color: #C54D35;
}
